<!DOCTYPE html>
<html>
  <head>
    <title>tuuu</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
      * {
        box-sizing: border-box;
      }
      html,
      body {
        height: 100%;
        margin: 0;
      }
      .full-height-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10%;
        height: 100%;
        width: 100%; /* 根据需要调整宽度 */
        font-family: system-ui;
      }
    </style>
  </head>
  <body>
    <div class="full-height-div">
      <h1>你好，要开始了</h1>
      <p>
        OH david，OH david，小包包了包
        <br />OH david，OH david，nei小↑包忘了包
        <br />
        哦 啊 啊 哎 哎 啊 啊 哦 哦 啊 啊 哎 哎 哦 啊 哦
        <br />
        大嘎达嘎达嘎达嘎达噶大嘎哒嘎达嘎达
        <br />
        得 得 得 得 得 得 得 得 端dua 端dua 哈哈哈
        <br />切个蛋 只因哥蛋 几个蛋 景个蛋 切个蛋 一个蛋 <br />
        切割得 得 得 得 得 得 得 得 得 X10 得 得 龙过八根<br />
        得得得切龙过八根 得得得 嗷嗷嗷嗷嗷嗷喔 得 得
        <br />得龙过八根 得龙过八根 得龙过八根 得龙过八根 得龙过八根<br />
        得得得 哦哦哦哦哦哦喔喔哦哦哦 得 得<br />
        得龙过八根 得龙过八根 得龙过八根 得龙过八根 <br />
        嗷嗷嗷嗷嗷嗷<br />
        得龙过八根，啊啊啊啊啊啊啊啊啊啊啊 我我屋我屋我屋<br />
        哦 哦喔哦喔 ~ ~ ~ ~ ~ 嘟怒达拉 嘟怒达拉 哦耶！<br />
        哦哦 du le 大 拉 耶耶耶<br />
        哇啊 Thank you！ Thank you！<br />
      </p>
    </div>
  </body>
</html>
